@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

/*Welcome*/

/*===============================

Table of content
1. Root settings
- Colors and styles
- Font

2. Body, html settings
3. Buttons
4. Nav-bar
5. Hero
6. Main Content
7. Form Section
8. Footer

===============================*/









/*===============================
1. Root settings
===============================*/

/*Colors and styles*/
:root{
    --text_color1: #000000;
    --border_color: #000000;
    --bg_color1: #ffffff;
    --bg_color2: #FFC900;
    --bg_color3: #FF90E9;
    --bg_color4: #23A094;
    --bg_color5: #E24530;
    --border-style: solid 1px var(--border_color);
    --header-font-weight: 500;
    --font-fraunces:'Fraunces', serif;
}


/*Font*/


/*===============================*/
/*2. Body, html settings*/
/*===============================*/

body{
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bg_color1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*TEST*/
    font-family: Arial, Helvetica, sans-serif;
}


/*===============================*/
/*3. Buttons*/
/*===============================*/

/* CSS */
.btn {
  background-color: var(--bg_color1);
  border: 10px solid var(--bg_color2);
  border-radius: 100px;
  box-shadow: var(--border_color) 4px 4px 0 0;
  color: var(--text_color1);
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  padding: 0 10px;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
    color: var(--bg_color4);
}

.btn:active {
  transform: translate(2px, 2px);
}

/*===============================*/
/*4.  Nav-bar*/
/*===============================*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* flex-wrap: wrap;*/
}

ul{
    margin-left: auto;
    display: flex;
}

ul li{
    list-style: none;
    padding: 0 1.2rem;
    /*padding: .5rem 1.2rem;*/
    text-align: right;
}

ul li a{
    text-decoration: none;
    color: var(--text_color1);
    font-weight: bolder;
    /*margin: .1rem 0;*/
}


ul li a:hover{
    color: var(--bg_color4);
    /*background-color: var(--bg_color2);
    border-radius: 100px;*/
}

/*
@media (min-width: 600px) {
    ul{
        display: flex;

        max-width: 300px;
    }

    ul li{
        padding: .5rem .5rem;
    }
}
*/

/*Above Validated 2022-09-12*/

/*Nav-wrapper & Container*/
.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg_color);
    background-color: var(--bg_color1);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
   /* margin-top: .3rem;*/
    /*Detta gör att nav-baren håller sig i mitten*/
    /*left: 50%;
    transform: translate(-50%, 0);*/
}

.nav-container{
    max-width: 1200px;
    width: 100%;
}
/*Above Validated 2022-09-14*/

/*Logo*/

/*
.logo{
    padding: .2rem 0 0 .3rem;
    width:100px;
}
*/

/*
.logo a{
    font-family: 'Fraunces', serif;
    text-decoration: none;
    color: var(--text_color1);
    font-weight: 900;
    font-size: 1.5rem;
    font-style: italic;
}
*/
.logo:hover{ 
    background-color: var(--bg_color4);
    margin-left: .2rem;
}

.logo a img{
    /*margin-top: -.1rem;*/
    margin-bottom: -.3rem;
    max-height: 10vh;
    width: 100%;
    margin-left: .2rem;
}
/*Above Validated 2022-09-14*/


/*===============================*/
/*5. Hero*/
/*===============================*/

.hero-wrapper{
    margin-top: 2.2rem;
}

.nav-wrapper,
.hero-item1, 
.hero-item2, 
.hero-item3{
    border: var(--border-style);
}

.hero-item1{
    background-image: url("img/screenx_small_model.png");
    background-color: var(--bg_color2);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: left bottom;
    grid-area: hero-item1;
}

.hero-h1-header{
    text-align: right;
    padding: 20vh 1rem 0 1rem;
    font-size: 3rem;
    font-kerning: auto;
}

.hero-logo-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-kerning: auto;
}
/*Above Validated 2022-09-14*/
.hero-item2{
    background-image: url("img/inurface_small_model.png");
    background-color: var(--bg_color3);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: center bottom;
    height: 40vh;
    grid-area: hero-item2;
}

.hero-item3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg_color4);
    grid-area: hero-item3;
    padding-bottom: 2rem;
}

.hero-h2-header{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 3rem 1rem 3rem;
}

/*Above Validated 2022-09-14*/

.hero-container{
    display: grid;
    grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "hero-item1"
        "hero-item2"
        "hero-item3";
}

@media (min-width:766px) {
    .hero-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "hero-item1 hero-item2"
        "hero-item1 hero-item3";
    }
}

/*Above Validated 2022-09-14*/


/*===============================*/
/* 6. Main Content*/
/*===============================*/

/*Main-intro*/
.main-intro-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: var(--bg_color5);
}

.main-intro-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    padding: 6rem 0;
    font-size: 3rem;
    text-align: center;
    max-width: 600px;
    font-weight: var(--header-font-weight);
}

.main-intro{
    margin: 0 1rem;
}

/*Slideshow Bob*/

.slideshow-container{
    position: relative;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--bg_color);
}

.slideshow-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    height: auto;
    width: 50%;
    /*padding: -15vh;*/
}

@media (min-width: 750px){
    .slideshow-container img{
        width: 30%;
    }
}

.slides{
    background-color: var(--bg_color2);
    border: 1px solid var(--border_color);
    display:none;
    padding-bottom: 3rem;
}


.slides h1, .slides p{
    text-align: center;
}

.slides-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-size: 2rem;
}

.slides-text{
    padding: 1rem 1rem;
}

/*Fading animation*/
.fade{
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade{
    from{
        opacity: .1;
    }
    to{
        opacity: 1;
    }
}

@media (min-width: 666px){
    .slides-text{
        padding: 1rem 3rem;
    }
}

/*Above Validated 2022-09-15*/
/*Above Validated 2022-09-15*/

/*Main-Galleri*/

.main-galleri-container{
    /*border: var(--border-style);*/
    /*padding: 0 2rem;*/
    margin: -.1rem 0;
    background-color: var(--bg_color5);
}

.galleri-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.galleri-img{
    margin: 0 auto;
    width: 50%;
}

.product-header{
    padding-top: 2rem;
    font-family: var(--font-fraunces);
    font-style: italic;
}

.product-header,
.product-text{
    text-align: center;
    padding-bottom: 1rem;
}


.galleri-item,
.galleri-item-rev{
    background-color: var(--bg_color1);;
    display: flex;
    max-width: 1193px;
    margin: 0 auto;
    padding: 3rem;
    border:solid 1px var(--border_color);
}

.galleri-item{
    flex-direction: column;
}
.galleri-item-rev{
    flex-direction: column-reverse;
    /*
    border-bottom: 1px solid var(--border_color);
    border-top: 1px solid var(--border_color);
    */
}

@media (min-width:780px){
    .galleri-item,
    .galleri-item-rev{
        flex-direction: row;
        align-items: center;
    }

    .galleri-img{
        margin: 0 auto;
        width: 40%;
    }
}

@media (min-width:800px){
    .galleri-img{
        margin: 0 auto;
        width: 30%;
    }
}

@media (min-width:860px){
    .galleri-img{
        margin: 0 auto;
        width: 25%;
    }
}

.about-container{
    border: var(--border-style);
    padding: 8rem 4rem;
    background-color: var(--bg_color4);
    /*height: 500px;*/
}

.about-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-size: 3rem;
    padding-bottom: 3rem;
    max-width: 400px;
}

.about-text{
    max-width: 400px;
}

.about-column1,
.about-column2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


/*Above Validated 2022-09-15*/

@media (min-width:780px){
    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5rem;
    }
}

/*===============================*/
/* 7. Form Section*/
/*===============================*/
.form-section-wrapper{
    background-color: var(--bg_color5);
}
.form-section-container{
    margin:0 3rem;
    padding: 4rem 0;
}
.form-header{
    font-size: 3rem;
    font-kerning: auto;
    max-width: 300px;
    padding-bottom: 2rem;
}

.form-column1,
.form-column2{
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}


.form-column1 label, .form-column2 label{
    font-weight: bold;
    padding: .5rem 0 .1rem 0;
}

.form-column2 input[type=text],
.form-column2 input[type=email]{
padding:.2rem 4rem;
border: none;
}

.form-column2 input[type=email]{
    margin-bottom: 4rem;
}

.product-radio input[type=radio]{
    cursor: pointer;
}

.product-radio-fieldset{
    margin-bottom: 2rem;
    padding: 1rem 0;
    border: none;
}


#product-radio-legend{
    font-size: 1.2rem;
    font-weight: bold;
}

/*
.product-radio-name{

}

.product-radio{
    
}
*/
@media(min-width:780px){
    .form-section-container{
        display: flex;
    }
}

/*Information text*/

.information-wrapper{
    background-color: var(--bg_color4);
    display: flex;
    justify-content: center;
}
.information-container{
    padding: 2rem;
}

.information-text{
    max-width: 800px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}