/*Welcome*/

/*===============================

Table of content
1. Root settings
- Font
- Colors and styles

2. Body, html settings

3. Buttons

4. Nav-bar
- nav-wrapper % container
- logo

5. Hero

6. Main Content
- Main-intro
- Slideshow "Bob"
- Rotating-polygon
- Main-galleri

7. About Section

8. Form Section

9. Information

10. Footer
- Corporation information

===============================*/



/*===============================
1. Root settings
===============================*/

/*Font*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input[type=text],
input[type=email],
input[type=submit]{
    font-family: Helvetica, sans-serif;
}


/*Colors and styles*/

:root{
    --text_color1: #000000;
    --border_color: #000000;
    --bg_color1: #ffffff;
    --bg_color2: #FFC900;
    --bg_color3: #FF90E9;
    --bg_color4: #23A094;
    --bg_color5: #E24530;

    --grey:#7F7F7F;
    --purple:#D1B4F8;
    --yellow: #F9E179;
    --red: #EC706B;
    --whitish: #FAF5E7;

    --border-style: solid 1px var(--border_color);
    --header-font-weight: 500;
    --font-fraunces:'Fraunces', serif;
}

.box-shadow{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}


/*===============================*/
/*2. Body, html settings*/
/*===============================*/

body{
    height: 100%;
    overflow-x: hidden;
    background-color: var(--whitish);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

/*===============================*/
/*3. Buttons*/
/*===============================*/

.btn{
  border-radius: 100px;
  box-shadow: var(--border_color) 4px 4px 0 0;
  color: var(--text_color1);
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  margin: 1.5rem 0;
  padding: 0 10px;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn{
    background-color: var(--whitish);
    border: 4px solid var(--purple);
}

.btn:hover,
.btn:focus {
    background-color: var(--purple);
    border: 4px solid #000000;
    transform: translate(-3px, -3px);
    box-shadow: var(--border_color) 7px 7px 0 0;
}

.btn:active {
  transform: translate(2px, 2px);
  box-shadow: var(--border_color) 2px 2px 0 0;
}




/*===============================*/
/*4.  Nav-bar*/
/*===============================*/

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* flex-wrap: wrap;*/
}

.nav-bar-links ul{
    margin-left: auto;
    display: flex;
}

.nav-bar-links ul li{
    /* padding: 0 1.2rem; */
    /* padding: .5rem 1.2rem; */
    padding-left: 2rem;
    text-align: right;
}

.nav-bar-links ul li a{
    text-decoration: none;
    margin: .1rem 0;
}


.nav-bar-links ul li a:hover{
    /* background-color: var(--bg_color4);  */
    color: #000000;
    transform: translate(-3px, -3px);
    box-shadow: var(--border_color) 7px 7px 0 0;
}

.nav-bar-links ul li a:focus{
    /* background-color: var(--bg_color4);  */
    transform: translate(2px, 2px);
  box-shadow: var(--border_color) 2px 2px 0 0;
}

/*Above Validated 2022-09-12*/

/*Nav-wrapper & Container*/
.nav-bar-links ul li a{
    color: var(--text_color1);
    font-weight: bolder;
}

.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--whitish);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.nav-container{
    margin: 0 1vw;
    max-width: 1200px;
    width: 100%;
}


/*Above Validated 2022-09-14*/

/*Logo*/

.logo img:hover{ 
    background-color: var(--bg_color4);
}

.logo a img{
    margin:.1rem 0 -.1rem .1rem;
    /* margin-bottom: -.3rem; */
    max-height: 6vh;
    max-width: 100%;
}
/*Above Validated 2022-09-14*/

@media (min-width:380px){
    .logo a img{
        max-height: 8vh;
    }
}

@media (min-width:400px){
    .logo a img{
        max-height: 10vh;
    }
}


/*===============================*/
/*5. Hero*/
/*===============================*/

.hero-wrapper{
    margin-top: 2.2rem;
}

.nav-wrapper,
.hero-item1, 
.hero-item2, 
.hero-item3{
    border: var(--border-style);
}

.hero-item1{
    background-image: url("img/screenx_small_model.png");
    background-color: var(--purple);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: left bottom;
    grid-area: hero-item1;
}

.hero-h1-header{
    text-align: right;
    padding: 20vh 1rem 0 1rem;
    font-size: 3rem;
    font-kerning: auto;
}

.hero-logo-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-kerning: auto;
}

/*Above Validated 2022-09-14*/
.hero-item2{
    /* background: url("img/inurface_small_model.png") center bottom no-repeat,url("img/techware_gridgraphic.png") bottom left no-repeat; */
    background-image: url("img/inurface_small_model.png");
    background-color: var(--bg_color3);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position: relative;
    grid-area: hero-item2;
}

.hero-item3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg_color4);
    grid-area: hero-item3;
    padding-bottom: 2rem;
}

.hero-h2-header{
    max-width: 400px;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 3rem 0 3rem;
}

/*Above Validated 2022-09-14*/

.hero-container{
    display: grid;
    grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr ;
        grid-template-areas: 
        "hero-item1"
        "hero-item2"
        "hero-item3";
}

@media (min-width: 560px) {

    .hero-h1-header{
        font-size: 5rem;
    }
    
}

@media (min-width: 860px) {
    
    .hero-container{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "hero-item1 hero-item2"
        "hero-item3 hero-item3";
    }
}

@media (min-width: 980px) {
    .hero-container{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "hero-item1 hero-item2"
        "hero-item1 hero-item3";
    }
}

/*Above Validated 2022-09-14*/


/*===============================*/
/* 6. Main Content*/
/*===============================*/

/*Main-intro*/
.main-intro-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: var(--red);
}

.main-intro-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    padding: 6rem 0;
    font-size: 3rem;
    text-align: center;
    max-width: 600px;
    font-weight: var(--header-font-weight);
}

.main-intro{
    margin: 0 1rem;
}


/*Slideshow Bob*/

.slideshow{
    border: var(--border-style);;
}

.slideshow-container{
    margin:0 1vw;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--purple);
    z-index: 1;
}


.slideshow-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    /*padding: -15vh;*/
    width: 40%;
}

@media (min-width: 550px){

    .slideshow-container img{
        width: 30%;
    }
}

@media (min-width: 750px){

    .slideshow-container img{
        width: 20%;
    }
}

.slides{
    /*CHANGE THE BACKGROUND*/
    /*background-color: var(--yellow);*/
    /*border: var(--border-style);*/
    display:none;
    padding: 1rem;
}


.slides h1, .slides p{
    text-align: center;
}

.slides-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-size: 2rem;
}

.slides-text{
    padding: 1rem 1rem;
}

/*Fading animation*/
.fade{
    animation-name: fade;
    animation-duration: 2s;
}


/*CHANGE OPACITY*/
@keyframes fade{
    from{
        /*transform: translateX(50%);*/
        opacity: .1; 
    }
    to{
         opacity: 1; 
         /*transform: translateX(50%);*/
    }

}

@media (min-width: 666px){
    .slides-text{
        padding: 1rem 3rem;
    }
}

/*Rotating polygon - Keep it?*/


.rotating-polygon{
    background-image: url(img/techware_spiralgraphic.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    /* background-color: var(--red);
    clip-path: polygon(50% 0%, 39% 20%, 13% 7%, 21% 30%, 0 30%, 20% 46%, 0 62%, 21% 64%, 11% 85%, 33% 79%, 41% 99%, 57% 83%, 78% 93%, 78% 74%, 100% 73%, 81% 56%, 100% 45%, 76% 42%, 98% 26%, 75% 28%, 78% 5%, 59% 19%); */


    position:absolute;
    top: 20%;
    left: 20%;
    width: 50%;
    height: 50%;

    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
    z-index: -1;
}

@-moz-keyframes spin { 
    100% {
        -moz-transform: rotate(360deg); 
    } 
}
@-webkit-keyframes spin { 
    100% {
        -webkit-transform: rotate(360deg);
    } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


@media (min-width: 550px){
    .rotating-polygon{
        width: 30%;
        height: 50%;
        top: 20%;
        left: 33%;
    }
}

@media (min-width: 666px){
    .rotating-polygon{
        width: 30%;
        height: 50%;
        top: 20%;
        left: 33%;
    }
}

@media (min-width: 780px){
    .rotating-polygon{
        width: 30%;
        height: 70%;
        top: 10%;
        left: 33%;
    }
}

@media (min-width: 900px){
    .rotating-polygon{
        width: 30%;
        height: 70%;
        top: 10%;
        left: 33%;
    }
}


/*Above Validated 2022-09-15*/

/*Main-Galleri*/

.main-galleri-container{
    padding: 2rem 0;
    margin:0 1vw;
}

.galleri-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 1rem;
    border: var(--border-style);
}


.galleri-item,
.galleri-item-rev{
    background-color: var(--whitish);
    display: flex;
    margin: 0 auto;
    gap:1rem;
    padding: 1rem 0 2rem 0;
    align-items: center;
    max-width: 90vw;
}

.galleri-img{
    background-color: var(--bg_color3);
    margin: 0 auto;
    width: 95%;
    border: var(--border-style);
}

.galleri-item{
    flex-direction: column;
}
.galleri-item-rev{
    flex-direction: column-reverse;
}

@media (min-width:700px){

    .galleri-img{
        width: 80%;
    }

    .galleri-information{
        width: 80%;
    }
}

@media (min-width:880px){
    .galleri-item,
    .galleri-item-rev{
        flex-direction: row;
    }

    .galleri-img{
        width: 50%;
    }

    .galleri-information{
        max-width: 500px;
    }
}

@media (min-width:980px){
    .galleri-img{
        width: 40%;
    }
}

.product-header{
    text-align: center;
    padding: 1.1rem 0 .8rem 0;
    font-family: var(--font-fraunces);
    font-style: italic;
}

.product-text{
    font-size: .8rem;
    line-height: 1.2rem;
    padding-bottom: 1rem;
}

.product-spec{
    font-size: .7rem;
    font-weight: 900;
}


/*===============================
7. About Section
===============================*/

.about-wrapper{
    background-color: var(--purple);
    border: var(--border-style);
    padding: 3rem 0;
}
.about-container{
    margin:0 1vw;
    padding: 0 1vw;
}



.about-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-size: 2rem;
    padding-bottom: 3rem;
    max-width: 400px;
}

.about-text{
    max-width: 400px;
    line-height: 1.5em;
}

.about-column1,
.about-column2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (min-width: 520px){

    .about-header{
        font-size: 3rem;
    }
    .about-container{
        padding: 30vh 2vw;
    }
}

/*Above Validated 2022-09-15*/

@media (min-width:780px){
    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5rem;
    }
}




/*===============================*/
/* 8. Form Section*/
/*===============================*/


/*FIXA FORM!!!!*/
.form-section-wrapper{
    background-color: var(--red);
}

.form-section-container{
    margin: 0 2vw;
    padding: 5rem 0;
}

.form-header{
    font-size: 4rem;
    font-kerning: auto;
    max-width: 360px;
    padding-bottom: 1rem;
    margin: 0 auto;
}


.form-column1{
    padding-bottom:4rem;
}

.form-column2 span{
    font-family: var(--font-fraunces);
    font-style: italic;
}


.form-column2{
    width:100%;
    margin:0 auto;
    padding: 1rem;
    display: grid;
    background-color: var(--whitish);
    border: var(--border-style);
    max-width: 30rem;
}

input[type=submit]{
    max-width: 6rem;
    margin-left: auto;
}

#f-name:focus,
#l-name:focus,
#email:focus{
    background-color: var(--yellow);
}

.form-column1 label, .form-column2 label{
    font-weight: bold;
    padding: .5rem 0 .1rem 0;
}

.form-column2 input[type=text],
.form-column2 input[type=email]{
    padding:.4rem .1rem;
    border: var(--border-style);
}


.form-column2 input[type=email]{
    margin-bottom: 1rem;
}

@media(min-width:880px){

    .form-section-container{
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .form-column2{
        max-width: 500px;
    }
}







/*FIXA FORM!!!!*/


/*
.product-radio input[type=radio]{
    cursor: pointer;
}

.product-radio-fieldset{
    margin-bottom: 2rem;
    padding: 1rem 0;
    border: none;
}


#product-radio-legend{
    font-size: 1.2rem;
    font-weight: bold;
}

.product-radio-name{
    display: block;
    padding: 1rem;
}

.product-radio-name input[type=radio]{
    margin: 0 1rem;
}
*/


/*Above Validated 2022-09-16*/


/*===============================
9. Information
===============================*/

.information-wrapper{
    /* background-color: var(--bg_color4); */
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    border: var(--border-style);
    padding: 3rem 0;
}

.information-container{
    padding:0 2vw;
}

.information-text{
    font-weight: bold;
    line-height: 24px;
}

/*Above Validated 2022-09-16*/

/*===============================*/
/* 10. Footer */
/*===============================*/

.footer-wrapper{
    background-color: var(--bg_color4);
    /*min-height: 10vh;*/
    padding-bottom: 1rem;
}

.footer-container{
    margin: 0 2vw;
    padding: 3rem 0 .1rem 0;
}

.footer-intro{
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.footer-text{
    font-weight: 800;
}

.footer-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.contact-links-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: none;
    padding-bottom: 2rem;
    margin:2rem 2rem;
}

.contact-item{
    margin: 0 auto;
    max-width: 220px;
}

@media (min-width: 450px){
    .contact-links-container{
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media (min-width: 780px){
    .contact-links-container{
        grid-template-columns: repeat(4, 1fr);
    }
} 

/* 
.contact-item a{
    display: flex;
    align-items: center;
} */

/*
.contact-item img{
    height: auto;
    width: 70px;
    margin: .2rem 1rem;
}
*/

.corporation-info a,
.contact-item{
    color:#000000;
    text-decoration: none;
}

.contact-item-text span:hover,
.contact-item-text span:focus,
#copyright a:hover,
#copyright a:focus{
    background-color: var(--bg_color4); 
}

.contact-item-text{
    font-weight: bold;
    text-align: left;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.contact-item-text span{
    font-style: italic;
    font-weight: 400;
    font-size: .8rem;
}

/*Corporation information*/
.corporation-info{
    border-top: var(--border-style);
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "corp-header .."
    "corp-text .. "
    "copyright corp-logo";
}

.corporation-header{
    font-weight: 700;
    grid-area: corp-header;
}

.corporation-text{
    font-size: .8rem;
    /*font-weight: 600;*/
    grid-area: corp-text;
}

.corporation-thin-text{
    font-weight:lighter;
    font-style: italic;
}

#copyright{
    grid-area: copyright;
    padding-top: 1rem;
    font-size: smaller;
    font-weight: 700;
}

.corporation-info-logo{
    grid-area: corp-logo;
    margin-left: auto;
}

.corporation-info-logo img{
    max-width: 40px;
}

.corporation-info-logo img:hover,
.corporation-info-logo img:focus{
    background-color: var(--bg_color4);
}

/*Above Validated 2022-09-16*/
/*Above Validated 2022-09-17*/
/*Above Validated 2022-09-18*/