/*Description <- från Code-A-long
1. Root settings
2. Body, html settings
3. Buttons
4. Navbar
5. Hero Section (Hero image)
6. Testimonial Section - grid?
7. Slideshow (optinal)
8.  Info Section (About Section?)
9.  Choose Section
10. Form 
11. Footer
*/



/*Table of content
1. Root settings
2. Nav-bar
3. Main
4. Footer
*/


/*1. Root settings*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --text_color: #000000;
    --border_color: red;
    --bg_color: green;
    --color_4: pink;
    --color_5: #ffffff;
}

/*General settings*/
*{
    font-family: 'DM Serif Display', serif;
    color: var(--color_5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*TEST*/
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul{
    display: flex;
    max-width: 300px;
    /*TEST*/
    margin-left: auto;
}

ul li{
    list-style: none;
    padding: .5rem .5rem;
}

ul li a{
    text-decoration: none;
    color: var(--text_color);
}


/*Above Validated 2022-09-12*/


/*TEST AREA*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-wrapper{
    display: flex;
    justify-content: center;
    background-color: var(--bg_color);
}

.nav-container{
    max-width: 980px;
}
/*
.nav-wrapper{
    display: flex;
    justify-content: center;
    max-width: 980px;
}
*/
.test-container{
    display: flex;
    justify-content: center;
    background-color: indigo;
    gap: 10px;
}

.test-content2, .test-content1{
    text-align: center;
}

@media screen and (max-width: 600px) {
    body{
        background-color: #000000;
    }

    .test-container{
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px){

    body{
        background-color: blue;
    }

    
}



/*
.flex-container{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.row{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.column{
    display: flex;
    flex-basis: 100%;
    flex: 1;
    gap: 15px;
}

.column1{
    background-color: red;
}

.column2{
    background-color: blue;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    background-color: var(--bg_color);
}

.grid-item{
    background-color: #ffffffff;
    text-align: center;
    padding: 20px;
}

.item1{
    grid-column: 1;
    /*grid-row: 1 ;
}

.item2{
    grid-column: 2 ;
   /* grid-row:1 / span 2 ;
}



#item1{
    background-color: red;
}
#item2{
    background-color: aqua;
}
#item3{
    background-color: blue;
}
#item4{
    background-color: blueviolet;
}


.grid-area-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: aqua;
    padding:10px;

    grid-template-areas: 
    "area1 area1 area4 area4"
    "area2 area2 area3 area3";
}

#area1{
grid-area: area1;
}


#area2{
grid-area: area2;
}


#area3{
grid-area: area3;
}


#area4{
grid-area: area4;
}

*/
