/*Welcome*/

/*===============================

Table of content
1. Root settings
- Font
- Colors and styles

2. Body, html settings

3. Buttons

4. Nav-bar
- nav-wrapper
- logo

5. Hero

6. Main Content
- Main-intro
- Slideshow "Bob"
- Rotating-polygon
- Main-galleri

7. About Section

8. Scrolling Logo

9. Form Section

10. Information

11. Footer
- Corporation information

===============================*/



/*===============================
1. Root settings
===============================*/

/*Font*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input[type=text],
input[type=email],
input[type=submit]{
    font-family: 'Raleway',Helvetica,sans-serif;
}


/*Colors and styles*/

:root{
    --text_color1: #000000;
    --border_color: #000000;
    --bg_color1: #ffffff;
    --bg_color2: #FFC900;
    --bg_color3: #FF90E9;
    --bg_color4: #23A094;
    --bg_color5: #E24530;

    --grey:#7F7F7F;
    --purple:#D1B4F8;
    --yellow: #F9E179;
    --red: #EC706B;
    --whitish: #FAF5E7;

    --border-style: solid 1px var(--border_color);
    --header-font-weight: 500;
    --font-fraunces:'Fraunces', serif;
}

.box-shadow{
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}


/*===============================*/
/*2. Body, html settings*/
/*===============================*/

body{
    height: 100%;
    overflow-x: hidden;
    background-color: var(--whitish);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

/*===============================*/
/*3. Buttons*/
/*===============================*/

.btn{
  border-radius: 100px;
  box-shadow: var(--border_color) 4px 4px 0 0;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  color: var(--text_color1);
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  margin: 1.5rem 0 1rem 0;
  padding: 0 10px;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn{
    background-color: var(--whitish);
    border: 4px solid var(--purple);
}

.btn:hover,
.btn:focus {
    /* animation-name: unfold;
    animation-duration: .2s;
    animation-fill-mode: forwards; */
    /* animation-duration: .1s; */
    background-color: var(--purple);
    border: 4px solid #000000;
    transform: translate(-3px, -3px);
    box-shadow: var(--border_color) 7px 7px 0 0;
    -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
}

.btn:active {
  transform: translate(2px, 2px);
  box-shadow: var(--border_color) 2px 2px 0 0;
}

/* @keyframes unfold{
    from{
        background-color: var(--whitish);
        border: 4px solid var(--purple);
        box-shadow: var(--border_color) 4px 4px 0 0;
        -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    }

    to{
        background-color: var(--purple);
        border: 4px solid #000000;
        transform: translate(-3px, -3px);
        box-shadow: var(--border_color) 7px 7px 0 0;
        -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
        -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,1);
    }
} */

/*===============================*/
/*4.  Nav-bar*/
/*===============================*/

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-links ul{
    margin-left: auto;
    display: flex;
}

.nav-bar-links ul li{
    padding-left: 2rem;
    text-align: right;
}

.nav-bar-links ul li a{
    text-decoration: none;
    margin: .1rem 0;
}


.nav-bar-links ul li a:hover{
    background-color: var(--purple); 
    box-shadow: var(--border_color) 4px 4px 0 0;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.nav-bar-links ul li a:focus{
    transform: translate(2px, 2px);
  box-shadow: var(--border_color) 2px 2px 0 0;
}

/*Above Validated 2022-09-12*/

/*Nav-wrapper & Container*/
.nav-bar-links ul li a{
    color: var(--text_color1);
    font-weight: bolder;
}

.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--whitish);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.nav-container{
    margin: 0 2vw 0 .1vw;
    max-width: 1400px;
    width: 100%;
}


/*Above Validated 2022-09-14*/

/*Logo*/

.logo img:hover{ 
    background-color: var(--purple);
}

.logo a img{
    margin:.1rem 0 -.1rem .1rem;
    max-height: 5vh;
    max-width: 100%;
}

/*Above Validated 2022-09-14*/
/*

/*CHANGED 20/9*/
/*
@media (min-width:374px){
    .logo a img{
        max-height: 8vh;
    }
}
*/
/*CHANGED 20/9*/
/*
@media (min-width:425px){
    .logo a img{
        max-height: 10vh;
    }
}
*/

/*===============================*/
/*5. Hero*/
/*===============================*/

.hero-wrapper{
    margin-top: 2.2rem;
}

.nav-wrapper,
.hero-item1, 
.hero-item2, 
.hero-item3{
    border: var(--border-style);
}

.hero-item1{
    background-image: url("img/techware_hero_img1.svg");
    background-color: var(--purple);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: left bottom;
    grid-area: hero-item1;
}

.hero-h1-header{
    text-align: right;
    padding: 20vh 1rem 0 1rem;
    font-size: 3rem;
    font-kerning: auto;
}

.hero-logo-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-kerning: auto;
}

/*Above Validated 2022-09-14*/
.hero-item2{
    background-image: url("img/techware_hero_img2.svg");
    background-color: var(--bg_color3);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position: relative;
    grid-area: hero-item2;
}

.hero-item3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg_color4);
    grid-area: hero-item3;
    padding-bottom: 2rem;
}

.hero-h2-header{
    max-width: 400px;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 3rem 0 3rem;
}

/*Above Validated 2022-09-14*/

.hero-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr ;
    grid-template-areas: 
    "hero-item1"
    "hero-item2"
    "hero-item3";
}

@media (min-width: 560px) {

    .hero-h1-header{
        font-size: 5rem;
    }
    
}

/*CHANGED 20/9*/
@media (min-width: 768px) {
    
    .hero-container{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "hero-item1 hero-item2"
        "hero-item3 hero-item3";
    }
}

/* @media (min-width: 1024px) {
    .hero-container{
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: 2fr 1fr; 
        grid-template-areas: 
        "hero-item1 hero-item2"
        "hero-item1 hero-item3";
    }
} */

/*Above Validated 2022-09-14*/


/*===============================*/
/* 6. Main Content*/
/*===============================*/

/*Main-intro*/
.main-intro-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    background-color: var(--red);
}

.main-intro-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    padding: 6rem 0;
    font-size: 3rem;
    text-align: center;
    max-width: 600px;
    font-weight: var(--header-font-weight);
}

.main-intro{
    margin: 0 1rem;
}

.main-intro-img{
    height: auto;
    max-width: 100%;
    border: var(--border-style);
}



@media (min-width: 768px){

    .main-intro-img{
        border: none;
    }

    .img-container{
        overflow: hidden;
        height: 500px;
        border: var(--border-style);
    }
    .main-intro-img{
        object-fit: cover;
    }
}

/*Above Validated 2022-09-19*/

/*Slideshow Bob*/

.slideshow{
    border: var(--border-style);;
}

.slideshow-container{
    margin:0 1vw;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--purple);
    z-index: 1;
}


.slideshow-container img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width: 40%;
}

@media (min-width: 425px){

    .slideshow-container img{
        width: 30%;
    }
}

@media (min-width: 768px){

    .slideshow-container img{
        width: 20%;
    }
}

.slides{
    display:none;
    padding: 1rem;
}


.slides h1, .slides p{
    text-align: center;
}

.slides-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-size: 2rem;
}

.slides-text{
    padding: 1rem 1rem;
}

/*Fading animation*/
.fade{
    animation-name: fade;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

@keyframes fade{
    0%{
        opacity: 0; 
    }
    50%{
         opacity: 1; 
    }
    100%{
        opacity: 0;
    }

}

.rotating-polygon{
    background-image: url(img/techware_spiralgraphic.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
    z-index: -1;
}

@-moz-keyframes spin { 
    100% {
        -moz-transform: rotate(360deg); 
    } 
}

@-webkit-keyframes spin { 
    100% {
        -webkit-transform: rotate(360deg);
    } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

/*Above Validated 2022-09-15*/

/*Main-Galleri*/

.main-galleri-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-galleri-container{
    width: 100%;
    max-width: 1400px;
    padding: 2rem 0;
    margin:0 3vw;
}

.galleri-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: var(--border-style);
}

.galleri-item,
.galleri-item-rev{
    background-color: var(--whitish);
    display: flex;
    margin: 0 auto;
    gap:1rem;
    padding: 1rem 0 2rem 0;
    align-items: center;
}

.galleri-img{
    background-color: var(--bg_color3);
    margin: 0 auto;
    width: 100%;
    border: var(--border-style);
}

.galleri-item{
    flex-direction: column;
}
.galleri-item-rev{
    flex-direction: column-reverse;
}

@media (min-width:600px) {
    .galleri-item,
    .galleri-item-rev{
        max-width: 30rem;
    }
}

@media (min-width:768px){

    .galleri-img,
    .galleri-information{
        width:95%;
    }

    .galleri-item,
    .galleri-item-rev{
        max-width: 90vw;
    }

    .galleri-img{
        width: 80%;
    }

    .galleri-information{
        width: 80%;
    }
}

@media (min-width:880px){
    .galleri-item,
    .galleri-item-rev{
        flex-direction: row;
    }

    .galleri-img{
        width: 50%;
    }

    .galleri-information{
        max-width: 500px;
    }
}

@media (min-width:980px){
    .galleri-img{
        width: 40%;
    }
}

.product-header{
    text-align: center;
    padding: .1rem 0 .4rem 0;
    /*Leave it?*/
    /* font-family: var(--font-fraunces); */
    /* font-style: italic; */
}

.product-text{
    font-size: .8rem;
    line-height: 1.2rem;
    padding-bottom: .4rem;
}

.product-spec{
    font-size: .7rem;
    font-weight: 900;
}


/*===============================
7. About Section
===============================*/

.about-wrapper{
    background-color: var(--purple);
    border: var(--border-style);
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}
.about-container{
    max-width: 1400px;
    margin:0 1vw;
    padding: 0 1vw;
}

.about-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: var(--header-font-weight);
    font-size: 2rem;
    padding-bottom: 3rem;
    max-width: 400px;
}

.about-text{
    max-width: 400px;
    line-height: 1.5em;
}

.about-column1,
.about-column2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (min-width: 520px){

    .about-header{
        font-size: 3rem;
    }
    .about-container{
        padding: 3vh 3vw;
    }
}

/*Above Validated 2022-09-15*/

@media (min-width:768px){
    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:5rem;
    }
}

/*===============================*/
/* 8. Scrolling text*/
/*===============================*/

.sliding-logo-container{
    /*This shit will make so that image or objects outside the visual, doesn't 
    break the layout*/
    overflow: hidden;
}

.sliding-logo{
    background-image: url(img/techware_logo.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 4rem;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0%{
        transform:translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-1692px,0,0);
    }
}

/*===============================*/
/* 9. Form Section*/
/*===============================*/

.form-section-wrapper{
    background-color: var(--red);
    display: flex;
    justify-content: center;
}

.form-section-container{
    max-width: 1400px;
    margin: 0 3vw;
    padding: 5rem 0;
}

.form-header{
    font-size: 4rem;
    font-kerning: auto;
    max-width: 360px;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.form-column1{
    padding-bottom:4rem;
}

.form-column2 span{
    font-family: var(--font-fraunces);
    font-style: italic;
}

.form-column2{
    width:100%;
    margin:0 auto;
    padding: 1rem;
    display: grid;
    background-color: var(--whitish);
    border: var(--border-style);
    max-width: 30rem;
}

input[type=submit]{
    max-width: 6rem;
    margin-left: auto;
}

#f-name:focus,
#l-name:focus,
#email:focus{
    background-color: var(--yellow);
}

.form-column1 label, .form-column2 label{
    font-weight: bold;
    padding: .5rem 0 .1rem 0;
}

.form-column2 input[type=text],
.form-column2 input[type=email]{
    padding:.4rem .1rem;
    border: var(--border-style);
}


.form-column2 input[type=email]{
    margin-bottom: 1rem;
}

@media(min-width:880px){

    .form-section-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .form-column2{
        max-width: 500px;
    }
}

.product-radio-name input[type=radio]{
    margin: 0 1rem;
}

/*Above Validated 2022-09-16*/

/*===============================
10. Information
===============================*/

.information-wrapper{
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    border: var(--border-style);
    padding: 3rem 0;
}

.information-container{
    padding:0 3vw;
}

.information-text{
    font-weight: bold;
    line-height: 24px;
}

/*Above Validated 2022-09-16*/

/*===============================*/
/* 11. Footer */
/*===============================*/

.footer-wrapper{
    display: flex;
    justify-content: center;
    background-color: var(--bg_color4);
    padding-bottom: 1rem;
}

.footer-container{
    width: 100%;
    max-width: 1400px;
    margin: 0 3vw;
    padding: 3rem 0 .1rem 0;
}

.footer-intro{
    padding: 2rem 0 1rem 0;
}

.footer-text{
    font-weight: 800;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.footer-header{
    font-family: var(--font-fraunces);
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}


.contact-links-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding-bottom: 2rem;
    margin:2rem 0rem;
    gap:1rem;
}

.contact-item{
    max-width: 220px;
}

@media (min-width: 425px){
    .contact-links-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
} 

@media (min-width: 768px){
    .contact-links-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
    }
} 

.corporation-info a,
.contact-item{
    color:#000000;
    text-decoration: none;
}

.contact-item-text:hover,
.contact-item-text:focus,
#copyright a:hover,
#copyright a:focus{
    background-color: var(--purple); 
    box-shadow: var(--border_color) 4px 4px 0 0;
    -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.contact-item-text{
    font-weight: 800;
    text-align: left;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.contact-item-text span{
    font-style: italic;
    font-weight: 600;
}

/*Corporation information*/
.corporation-info{
    border-top: var(--border-style);
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "corp-header .."
    "corp-text .. "
    "copyright .."
    "linktotop corp-logo";
}

.corporation-header{
    font-weight: 700;
    grid-area: corp-header;
}

.corporation-text{
    font-size: .8rem;
    font-weight: 600;
    grid-area: corp-text;
}

.corporation-thin-text{
    font-weight:400;
    font-style: italic;
}

#copyright{
    grid-area: copyright;
    padding:1rem 0;
    font-size: smaller;
    font-weight: 700;
}

.link-to-top{
    grid-area: linktotop;
    margin-right: auto;
    margin-top: auto;
}

.corporation-info-logo{
    grid-area: corp-logo;
    margin-left: auto;
    margin-top: auto;
}

.corporation-info-logo img{
    max-width: 40px;
}

.corporation-info-logo img:hover,
.corporation-info-logo img:focus{
    background-color: var(--purple);
}

/*Above Validated 2022-09-16*/
/*Above Validated 2022-09-17*/
/*Above Validated 2022-09-18*/